.contact-information {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2rem;
    padding: 0px 16px;
    margin-top: 32px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .help-option {
    display: flex;
    flex-direction: row;
    align-content: space-between;
} */

.help-info {
    position: relative;
    left: 20px;
    bottom: 6px;
}